<div fxFlex="ba" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="center center" >
  <form #loginForm='ngForm' (ngSubmit)="login()">
  <mat-card >
    <mat-card-header>
      <mat-card-title-group>
        <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fcoracao.jpg?alt=media&token=a50c2242-9038-40cd-bdbc-f5a299d1c0ee">
        <mat-card-title>ISure - Acesso</mat-card-title>
        <mat-card-subtitle>Consultoria em seguros e benefícios</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <img fxHide.gt-xs fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fmed_tools.jpg?alt=media&token=7afcbc61-a865-4f3f-b91c-b9899d41e89c" mat-card-lg-image>
        <img fxHide.xs fxFlex="40%" fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fmed_tools.jpg?alt=media&token=7afcbc61-a865-4f3f-b91c-b9899d41e89c" mat-card-image>
        <!--<img src="https://media.istockphoto.com/photos/medical-technology-concept-electronic-medical-record-picture-id872676342" mat-card-lg-image>-->
        <div fxFlex="30%" fxLayout="column" >
        <p matLine>Você deve efetuar o login ou se cadastrar para utilizar este aplicativo</p>
        <mat-form-field>
            <input matInput id="loginMail"
              name="email"
              #loginMail='ngModel'
              type="email"
              placeholder="Email"
              [(ngModel)]=user.email
              required
              email
              minlength="4">
            <mat-icon matPrefix >mail_outline</mat-icon>
            <mat-error
            *ngIf="(loginMail.hasError('minlength') || loginMail.hasError('required') || loginMail.hasError('email')) && loginMail.touched">Informe seu e-mail de login</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput id="loginPass"
              name="loginPass"
              placeholder="Senha"
              type="password"
              #loginPass='ngModel'
              [(ngModel)]=user.password
              required
              minlength="5"
              maxlength="10">
            <mat-icon matPrefix >lock</mat-icon>
            <mat-icon matSuffix >visibility_off</mat-icon>
            <mat-error
            *ngIf="(loginPass.hasError('minlength') || loginPass.hasError('maxlength')) && loginPass.touched">Informe sua senha de login</mat-error>
          </mat-form-field>
          <mat-error *ngIf='error'>Usuário ou senha informados são inválidos</mat-error>
        </div>
        </div>
        <!--Log info
        <mat-error>TODO: Recuperuação de senha e remoção das informações de log</mat-error>
        <mat-error>TODO: Botão para usuário visualizar a senha digitada</mat-error>
        {{(user | json)}} -->
    </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexWrap fxLayoutAlign="space-between space-around" fxLayoutGap="5px">
          <button fxFlex mat-raised-button color="primary"
            type="submit" [disabled]="loginForm.status === 'INVALID'">
              <mat-icon>home_outline</mat-icon> Login</button>

          <button fxFlex mat-raised-button color="primary" (click)="about( )"><mat-icon>supervisor_account</mat-icon>Sobre Nós</button>
          <button fxFlex mat-raised-button color="primary" (click)="register( )"><mat-icon>assignment</mat-icon>Registre-se</button>
          <button fxFlex mat-raised-button color="primary" (click)="fale( )"><mat-icon>forum</mat-icon>Fale Conosco</button>
      </mat-card-actions>
  </mat-card>
  </form>

</div>