<form fxLayout="column">
  <div fxFlex>
    <mat-form-field>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
        <mat-radio-button value="5">5</mat-radio-button>
        <mat-radio-button value="6">6</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input matInput placeholder="Idade">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Gênero</mat-label>
        <mat-select value="selected">
          <mat-option value="masculino">masculino</mat-option>
          <mat-option value="feminino">feminino</mat-option>
          <mat-option value="outro">Outros</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
</form>
