<form fxLayout="column">
  <div fxFlex="column">
    <mat-form-field>
      <mat-label>Número de Vidas (max. 6)</mat-label>
      <mat-select matNativeControl required [(value)]="selectedLifes">
        <mat-option *ngFor="let life of lifes" [value]="life.id">{{life.id}} {{life.id > 1 ? 'vidas' : 'vida'}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div fxLayout="row">
    <mat-list *ngIf="selectedLifes">
      <mat-list-item *ngFor="let life of lifes">
        <mat-form-field *ngIf="life.id <= selectedLifes">
          <input matInput placeholder="Informe a Idade da vida {{life.id}}" [value]="life.age">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
</div>
</form>
<button mat-raised-button color="primary"><mat-icon>attach_money</mat-icon>Calcular</button>
