<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="center center" >
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title color="">
          <span>Olá, {{user.name || user.email }}.</span>
        </mat-card-title>
        <mat-card-subtitle>
          <span>Nossas boas-vindas à ISure.</span>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="5px">
        <img fxFlex.gt-xs="33%" fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fcoracao.jpg?alt=media&token=a50c2242-9038-40cd-bdbc-f5a299d1c0ee" mat-card-image>
        <div fxLayout="column" >
        </div>
        </div>
        {{(user | json)}}
        <mat-error>TODO: Menu de navegação</mat-error>
        <mat-error>TODO: Botões mais bonitos</mat-error>
        
    </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexWrap fxLayoutAlign="space-between space-around" fxLayoutGap="5px"> 
        <button fxFlex mat-raised-button color="primary" (click)="goToIsurePlans()">Adquirir Novo Plano</button>
        <button fxFlex mat-raised-button color="primary" (click)="goToMyPlans()">Meus Planos</button>
        <button fxFlex mat-raised-button color="primary" (click)="goToProfile()">Meus Dados</button>
        <button mat-raised-button (click)="logout()">Sair</button>   
      </mat-card-actions>
  </mat-card>
</div>
