<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fcoracao.jpg?alt=media&token=a50c2242-9038-40cd-bdbc-f5a299d1c0ee">
      <mat-card-title>ISure</mat-card-title>
      <mat-card-subtitle>Consultoria em seguros e benefícios</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
<p matLine>
A iSURE é uma corretora de seguros completa, criada para ser a escolha mais inteligente em benefícios como plano de saúde, odontológico e seguro de vida.</p>
<p matLine>Com soluções inovadoras, atendimento diferenciado e excelente relação custo-benefício.</p>
<mat-card-actions>
  <button fxFlex mat-raised-button color="primary" (click)="goBack()"><mat-icon>chevron_left</mat-icon> Voltar</button>
</mat-card-actions>
</mat-card>