<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="center center" >
  <form novalidate [formGroup]="formRegister" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fcoracao.jpg?alt=media&token=a50c2242-9038-40cd-bdbc-f5a299d1c0ee">
        <mat-card-title>ISure - Página de registro</mat-card-title>
        <mat-card-subtitle>Consultoria em seguros e benefícios</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="5px">
        <img fxHide.gt-xs fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fregister.jpg?alt=media&token=fb09c8e1-2ef5-43b1-8d6e-85295d74e840" mat-card-lg-image>
        <img fxHide.xs fxFlex.gt-xs="30%" fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fregister.jpg?alt=media&token=fb09c8e1-2ef5-43b1-8d6e-85295d74e840" mat-card-image>
        <div fxFlex fxLayout="column" >
          <p matLine>Após o registro você terá acesso aos planos de saúde mais competitivos do mercado.</p>
        <mat-form-field>
            <input fxFlex matInput id="name"
              placeholder="Informe seu nome completo"
              formControlName="name">
            <mat-icon matPrefix >person</mat-icon>
            <mat-error *ngIf="formRegister.controls.name.errors">Informe seu nome completo.</mat-error>

          </mat-form-field>
          <mat-form-field>
            <input fxFlex matInput id="cpf"
              name="cpf"
              placeholder="Informe seu CPF"
              type="text"
              formControlName="cpf">
            <mat-icon matPrefix >account_box</mat-icon>
            <mat-error *ngIf="formRegister.controls.cpf.errors">Informe seu cpf - somente números.</mat-error>

          </mat-form-field>

          <mat-form-field>
            <input fxFlex matInput id="cel"
              name="cel"
              placeholder="Informe um celular"
              type="text"
              formControlName="cel">
            <mat-icon matPrefix >phone</mat-icon>
            <mat-error *ngIf="formRegister.controls.cel.errors">Informe seu celular.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input fxFlex matInput id="email"
              name="email"
              placeholder="Informe um email válido"
              type="email"
              formControlName="email">
            <mat-icon matPrefix >email</mat-icon>
            <mat-error *ngIf="formRegister.controls.email.errors">Informe seu email.</mat-error>

          </mat-form-field>
          <mat-form-field >
            <input fxFlex matInput id="password"
              name="password"
              placeholder="Crie uma senha"
              type="password"
              formControlName="passwd">
            <mat-icon matPrefix >lock</mat-icon>
            <mat-error *ngIf="formRegister.controls.passwd.errors">A senha deve ter de 5 a 10 caracteres.</mat-error>

          </mat-form-field>
          <mat-form-field>
            <input fxFlex matInput id="confirm_password"
              name="confirm_password"
              placeholder="Confirme sua senha"
              type="password"
              formControlName="confirm_passwd">
            <mat-icon matPrefix >lock</mat-icon>
            <mat-error *ngIf="formRegister.controls.confirm_passwd.errors">A senha deve ter de 5 a 10 caracteres.</mat-error>
          </mat-form-field>
          <mat-error *ngIf="errors.passwd">Senha e confirmação de senha devem ser idênticas.</mat-error>
        </div>
        </div>
        <!--
        <mat-error>TODO: TERMOS DE USO e Remover informação de debug</mat-error>
         Form Status: {{ formRegister.status }}
         Form Status: {{ formRegister.erros }}
         Name Status: {{formRegister.controls.name.errors | json}}
         -->
    </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexWrap fxLayoutAlign="space-between space-around" fxLayoutGap="5px">
          <button fxFlex mat-raised-button color="primary"
            type="submit" [disabled]="!formRegister.valid">
              <mat-icon>check</mat-icon> Registrar</button>

          <button fxFlex mat-raised-button color="primary" (click)="goBack()"><mat-icon>chevron_left</mat-icon> Voltar</button>
      </mat-card-actions>
  </mat-card>
  </form>

</div>