<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="center center" >
  <form [formGroup]="formRegister">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title color="">
          <span>Registre-se</span>
        </mat-card-title>
        <mat-card-subtitle>
          <span>Após o registro você terá acesso aos planos de saúde mais competitivos do mercado.</span>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="5px">
        <img src="https://media.istockphoto.com/photos/medical-technology-concept-electronic-medical-record-picture-id872676342" mat-card-lg-image>
        <div fxLayout="column" >
        <mat-form-field>
            <input matInput id="name"
            placeholder="Informe seu nome completo"
              formControlName="name">
            <mat-icon matPrefix >user</mat-icon>

          </mat-form-field>
          <mat-form-field>
            <input matInput id="cpf"
              name="cpf"
              placeholder="Informe seu CPF"
              type="number"
              formControlName="cpf">
            <mat-icon matPrefix >lock</mat-icon>

          </mat-form-field>
          <mat-error *ngIf='error'>Usuário ou senha informados são inválidos</mat-error>
          <mat-form-field>
            <input matInput id="cel"
              name="cel"
              placeholder="Informe um celular"
              type="text"
              formControleName="cel">
            <mat-icon matPrefix >phone</mat-icon>

          </mat-form-field>
        </div>
        </div>
        {{(user | json)}}
    </mat-card-content>
      <mat-card-actions fxLayout="row wrap" fxLayout.lt-sm="column" fxFlexWrap fxLayoutAlign="space-between space-around" fxLayoutGap="5px">
          <button fxFlex mat-raised-button color="primary"
            type="submit" [disabled]="formRegister.status === 'INVALID'">
              <mat-icon>home_outline</mat-icon> Login</button>

          <button fxFlex mat-raised-button color="primary" (click)="alert('Hello')">Sobre Nós</button>
          <button fxFlex mat-raised-button color="primary" (click)="register()">Registre-se</button>
          <button fxFlex mat-raised-button color="primary" (click)="alert('Hello')">Contato</button>
      </mat-card-actions>
  </mat-card>
  </form>

</div>