<div fxFlex fxLayout="column">
<mat-accordion>
<mat-expansion-panel *ngFor="let plan of isureplans" class="card">
  <mat-expansion-panel-header>
    <mat-panel-title>
      ISure {{plan.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
        <img fxFlex fxFlex.gt-xs="50%" [src]="plan.image" alt="plan image" mat-card-image/>
        <div fxFlex fxFlex.gt-xs="50%" fxLayout="column">
          <p matLine>{{plan.description}}</p>
          <p matLine>Preencha o formulário abaixo para saber os valores de planos para este perfil.</p>
          <app-lifes-info [isurePlan]="plan.name"></app-lifes-info>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" *ngIf="operadoraSelecionada" routerLink='/card'><mat-icon>attach_money</mat-icon>Valores</a>
    </mat-card-actions>
  </mat-card>
</mat-expansion-panel>
</mat-accordion>
</div>
