<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%" fxLayoutAlign="center center" >
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Fcoracao.jpg?alt=media&token=a50c2242-9038-40cd-bdbc-f5a299d1c0ee">
      <mat-card-title>ISure</mat-card-title>
      <mat-card-subtitle>Consultoria em seguros e benefícios</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="5px">
      <img fxFlexAlign="center" src="https://firebasestorage.googleapis.com/v0/b/isureapp-17148.appspot.com/o/AppImages%2Ftalk.jpg?alt=media&token=6a5e5905-e196-4352-aac2-2924f9b125d7" mat-card-lg-image>
      <p matLine></p>
      <p matLine>Para maiores informações, por favor entre em contato conosco e prontamente será atendido.</p>
      <p matLine><mat-icon>phone</mat-icon> 11 4803.0900</p>
      <p matLine><mat-icon>phone</mat-icon> 11 94224.9636</p>
      <p matLine><mat-icon>business</mat-icon>Avenida Paulista, 1765 conj. 72, São Paulo</p>
      <a mat-button href="mailto:contato@isure.com.br"><mat-icon>email</mat-icon> contato@isure.com.br</a>
    </div>
  </mat-card-content>
<mat-card-actions>
  <button fxFlex mat-raised-button color="primary" (click)="goBack()"><mat-icon>chevron_left</mat-icon> Voltar</button>
  
</mat-card-actions>
</mat-card>
</div>